.header {
    background-color: var(--pale-white);
    position: relative;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 64px;
    box-sizing: border-box;
}

.logo {
    padding-top: 8.5px;
    padding-bottom: 8.5px;
}

.nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav ul li {
    font-size: 16px;
}

.nav ul li a {
    text-decoration: none;
    color: #121417;
    font-weight: 500;
}

.nav ul li a:hover,
.nav ul li a.active {
    color: var(--dark-red);
}

.header::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: rgba(18, 20, 23, 0.05);
}
